body{
   background-color: #ffc72cc9;
   padding: 20px;
   min-width: 280px;
   max-width: 800px;
   margin: auto;
}

main{
   background-color: #292622;
   padding: 20px;
   border-radius: 10px;
   min-width: 540px;
   max-width: 200px;
   margin: auto;
   
}
img{
   padding: 10px;
   border-radius: 20px;
   min-width: 280px;
   max-width: 800px;
   width: 95%;
   margin: auto;
}

h1{
   font-family: 'Roboto Mono', monospace;
    color: #FFC72C;
    text-align: center;
 }
h2{
   font-family: 'Roboto Mono', monospace;
    color: #FFC72C;
    text-align: center;
 }

 p{
   font-family: 'Roboto Mono', monospace;
   color: #FFC72C;
   text-align: center;
   font-size: 20px;
}
a{
   color:#FFC72C ;
}
 
